*{
padding: 0;
margin: 0;
}
.quadro {
    text-align: center;
    font-family: 'Cooper Black', sans-serif; 
    font-size: 40px; 
    color: #333; 
}

body {
  background-image: url("Capture\ d’écran\ \(128\).png");
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat;
  height: 100vh;                
  margin: 0;
  color: white;                 
}
h2 {
    text-align: center;
    font-family: 'Cooper Black', sans-serif; 
    font-size: 40px; 
    color: #333;
}
p {
    text-align: center;
    font-family: 'Cooper Black', sans-serif; 
    font-size: 20px; 
    color: #333;
}
button {
        text-align: center;
        font-family: 'Cooper Black', sans-serif; 
        font-size: 40px; 
        color: #333;
}

.image {
    display: flex;
    justify-content: center;
    height: 500px;
    
}
a{
    justify-content: center;
}
.container {
  height: 20vh;                      /* Ocupa a tela inteira */
  display: flex;
  flex-direction: row-reverse;             /* Botões um embaixo do outro */
  justify-content: center;            /* Centro vertical */
  align-items: center;                /* Centro horizontal */
  gap: 20px;                          /* Espaço entre os botões */
}

/* Estilo dos links disfarçados de botão */
.fake-button {
  display: inline-block;
  padding: 12px 25px;
  background-color: #4a6cf7;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 600;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  transition: 0.25s ease;
}

